:root {
  --blurple: #5865F2;
  --bg: #98FB98;
}

body {
  font-family: Avenir;
  padding-left: 10px;
  background: var(--bg);
  display: none;
}

#contents {
  font-size: 25px;
}

button {
  margin: 3px;
}

fieldset {
  border-radius: 10px;
  width: 90%;
  height: 50%;
}

h4 {
  font-weight: bold;
  text-decoration: underline;
}

a {
  color: grey;
  text-decoration: underline;
}
