body {
  font-family: Avenir;
  padding-left: 10px;
}

#contents {
  font-size: 25px;
}

fieldset {
  border-radius: 10px;
  width: 90%;
  height: 50%;
}

h4 {
  font-weight: bold;
  text-decoration: underline;
}

a {
  color: grey;
  text-decoration: underline;
}
